<form>
     <div class="form-container">
        <div class="input-field">
            <label for="title">Task</label>
            <input class="field" type="text" name="title" id="title" [(ngModel)]="formdata.title" placeholder="Add Task" >
        </div>
        <div class="input-field">
            <label for="dateTime">Date & Time</label>
            <input class="field" type="text" name="dateTime" id="dateTime" [(ngModel)]="formdata.dateTime" placeholder="Add Date & Time">
        </div>
        <div class="reminder-container">
            <label class="reminder-label" for="reminder">Set Reminder</label>
            <input type="checkbox" name="reminder" id="reminder">
        </div>
        <div class="btn-container">
            <input class="btn" type="button" value="Save Task">
        </div>
    </div>
</form>